.input-box {
  padding: 4% 10%;
  background-image: url(../image/bg-boost-desktop.svg);
  border-radius: 5px;
  background-color: hsl(257 27% 26% / 1);
}

.input-bar {
  width: 100%;
  border-radius: 6px;
  padding: 7px 20px;
}

.input-button {
  width: 100%;
  margin: 20px 0px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  background-color: #2cd0d1;
  border-radius: 6px;
  padding: 5px;
}
.container-api {
  background: linear-gradient(180deg, white 50%, #eff1f7 50%);
}
.apiRow {
  background-color: white;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}
