.boost-section {
  min-height: 100px;
  background-image: url(../image/bg-boost-desktop.svg);
  background-color: hsl(257 27% 26% / 1);
}

.wrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

h3 {
  color: white !important;
  padding: 2rem;
}
