.boost-section {
  min-height: 100px;
  background-color: #a88fd4;
}

.wrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/bg-boost-desktop.svg);
  flex-direction: column;
}

.get-started {
  border-color: transparent;
  color: white;
  background-color: #2cd0d1;
  border-radius: 20px;
  padding: 5px;
}
.get-started :hover {
  cursor: pointer;
}
