p {
  color: #bfbfbf;
}

.footer-section {
  min-height: 200px;
  background-color: hsl(260, 8%, 14%) !important;
  padding: 5rem;
}
.col {
  height: 100%;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
.fab {
  padding: 10px 10px;
}
h5 {
  color: white;
}
