.jumbotron {
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-color: transparent !important;
}
p {
  font-family: var(--body-font);
}
h1 {
  font-family: var(--body-font);
  font-size: var(--h1-font-size);
  font-weight: 900;
}
.jumbotron-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jumbotron-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started-button {
  background-color: teal;
  color: white;
  width: 40%;
  border-radius: 20px;
  border-color: transparent;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 0rem 0rem;
  }
}
